<section class="footer">
  <div class="footer-container">
    <div class="footer-ghj">
      <div>
        <img
          class="footer-image"
          srcset="../img/footer/brokolli.jpg 1x, ../img/footer/brokolli_2x.jpg 2x"
          src="../img/footer/brokolli.jpg"
          alt=""
        />
        <div class="footer-logo">
          <svg width="16" height="16">
            <use class="footer-vector" href="../img/icons.svg#icon-logo"></use>
          </svg>
          <p class="footer-vector-text">veggieboost</p>
        </div>
      </div>
      <ul class="footer-nav">
        <li class="footer-nav-item">How It Works</li>
        <li class="footer-nav-item">Vegetables</li>
        <li class="footer-nav-item">Contacts</li>
      </ul>
    </div>
    <div>
      <ul class="footer-soc">
        <li class="footer-soc-item">
          <a class="" aria-label="" rel="" href="">
            <svg>
              <use
                width="24"
                height="24"
                href="../img/icons.svg#icon-facebook"
              ></use>
            </svg>
          </a>
        </li>
        <li class="footer-soc-item">
          <a class="" aria-label="" rel="" href="">
            <svg>
              <use
                width="24"
                height="24"
                href="../img/icons.svg#icon-instagram"
              ></use>
            </svg>
          </a>
        </li>
        <li class="footer-soc-item">
          <a class="" aria-label="" rel="" href="">
            <svg>
              <use
                width="24"
                height="24"
                href="../img/icons.svg#icon-youtube"
              ></use>
            </svg>
          </a>
        </li>
      </ul>
      <ul class="footer-adress">
        <li class="footer-adress-tel">
          <a href="tel:+380684439426">+380(68)4439426</a>
        </li>
        <li class="footer-adress-item">
          1678 S. Pioneer Road Salt Lake City UT 84104
        </li>
      </ul>
    </div>
  </div>
  
</section>

