<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <div class="nav-site">
        <ul class="nav-page">
          <li class="nav-page-item">
            <a class="nav-page-link" href="#works">How It Works</a>
          </li>
          <li class="nav-page-item">
            <a class="nav-page-link" href="#vegetables">Vegetables</a>
          </li>
          <li class="nav-page-item">
            <a class="nav-page-link" href="#contacts">Contacts</a>
          </li>
        </ul>
        <a class="header-logo" href="">
          <span class="logo-icon">
            <svg width="16" height="16">
              <use href="/img/icons.svg#icon-logo"></use>
            </svg>
          </span>
          veggieboost
        </a>
      </div>
    </nav>
    <button type="button" class="header-button">
      <svg class="header-btm-icon" width="24" height="24" data-modal-open>
        <use href="/img/icons.svg#icon-shopping-cart"></use>
      </svg>
    </button>
    <button type="button" class="header-menu-open" data-menu-open>
      <svg class="menu-open-icon" width="24" height="24">
        <use href="/img/icons.svg#icon-menu-button"></use>
      </svg>
    </button>
  </div>

  <div class="mob-menu is-hidden" data-menu>
    <div class="mob-menu-logo">
      <a class="header-logo" href="">
        <span class="logo-icon">
          <svg width="16" height="16">
            <use href="/img/icons.svg#icon-logo"></use>
          </svg>
        </span>
        veggieboost</a
      >
    </div>
    <button type="button" class="mob-menu-close" data-menu-close>
      <svg class="header-btm-close" width="24" height="24">
        <use href="/img/icons.svg#icon-menu-close"></use>
      </svg>
    </button>
    <div class="mob-menu-nav">
      <ul class="mob-menu-list">
        <li class="mob-menu-item">
          <a class="nav-page-link" href="#works">How It Works</a>
        </li>
        <li class="mob-menu-item">
          <a class="nav-page-link" href="#vegetables">Vegetables</a>
        </li>
        <li class="mob-menu-item">
          <a class="nav-page-link" href="#contacts">Contacts</a>
        </li>
        <li class="mob-menu-item">
          <button type="button" class="mob-menu-btm">
            <svg class="menu-btm-icon" width="24" height="24" data-modal-open>
              <use href="/img/icons.svg#icon-shopping-cart"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</header>

<script src="../js/mobile-menu.js"></script>
<!-- <script src="/src/js/mobile-menu.js"></script> -->
