<div data-aos="fade-up" data-aos-duration="1000">
  <section class="container reviews-container" id="reviews">
    <h2 class="reviews-title">Our reviews</h2>
    <div class="reviews-slider">
      <div class="reviews-card">
        <img
          src="/img/reviews/alex-pixly.jpg"
          alt="alex-pixly"
          width="125"
          height="125"
          class="reviews-img"
        />
        <h3 class="reviews-card-title">Fast delivery, good quality veg</h3>
        <p class="reviews-card-text">
          I will be using this company again as the veg I did receive was fresh
          and of good quality. Thank your shop for sorting things out, and
          apologies for being impatient.
        </p>
      </div>

      <div class="reviews-card">
        <img
          src="/img/reviews/andrea-piacqua.jpg"
          alt="andrea-piacqua"
          width="125"
          height="125"
          class="reviews-img"
        />
        <h3 class="reviews-card-title">Placed my second order</h3>
        <p class="reviews-card-text">
          Placed my 2nd order. Absolutely love this shop. Very fresh. Long
          lasting quality veg/salad produce. All delivered 2 hour to front door.
        </p>
      </div>

      <div class="reviews-card">
        <img
          src="/img/reviews/christina-morillo.jpg"
          alt="christina-morillo"
          width="125"
          height="125"
          class="reviews-img"
        />
        <h3 class="reviews-card-title">Huge selection and superb value</h3>
        <p class="reviews-card-text">
          Just a mile along the road near Upper Aston, almost on the doorstep
          for us, so friendly and helpful, huge selection and all superb value!
        </p>
      </div>

      <div class="reviews-card">
        <img
          src="/img/reviews/colaro-dio.jpg"
          alt="colaro-dio"
          width="125"
          height="125"
          class="reviews-img"
        />
        <h3 class="reviews-card-title">Always wonderful quality</h3>
        <p class="reviews-card-text">
          Always wonderful quality, fresh and tasty from this lovely shop.
          Online service works well with easy ordering and prompt and friendly
          delivery. Best veg service!
        </p>
      </div>

      <div class="reviews-card">
        <img
          src="/img/reviews/italo-melo.jpg"
          alt="italo-melo"
          width="125"
          height="125"
          class="reviews-img"
        />
        <h3 class="reviews-card-title">
          Just received my first order and wow!
        </h3>
        <p class="reviews-card-text">
          I was extremely impressed with the quality of the vegetables, I
          haven't seen veg like this for years, I would highly recommend to
          anyone, very happy customer will be back for more! Thanks made my day!
        </p>
      </div>

      <a class="previous" onclick="previousSlide()">&#10094;</a>
      <a class="next" onclick="nextSlide()">&#10095;</a>
    </div>
  </section>
</div>

<script src="../js/slider.js"></script>
