<section class="vegetables">
  <div class="veg-container container">
    <h3 class="veg-title">organic vegetables</h3>
    <p class="veg-text">
      Our organic vegetables are hand-picked from local farms and delivered straight to your doorstep, ensuring that you
      get
      the freshest and most nutritious produce possible.
    </p>
    <div class="veg-menu">
      <ul class="veg-menu-list">
        <li class="veg-menu-item">
          <h4 class="veg-menu-title">Carrot</h4>
          <p class="veg-menu-text">Plant</p>
          <div class="veg-menu-content">
            <img class="veg-menu-img" src="./img/vegetables/carrot.png" alt="Carrot-img" />
            <svg class="veg-menu-icon" width="195" height="38">
              <use href="./img/icons.svg#icon-oval"></use>
            </svg>
          </div>
          <p class="veg-menu-price">100 UAH / kg</p>
        </li>
      </ul>
    </div>
    <div class="veg-menu">
      <ul class="veg-menu-list">
        <li class="veg-menu-item">
          <h4 class="veg-menu-title">Brussel sprouts</h4>
          <p class="veg-menu-text">Plant</p>
          <div class="veg-menu-content">
            <img class="veg-menu-img" src="./img/vegetables/brussel.png" alt="Carrot-img" />
            <svg class="veg-menu-icon" width="195" height="38">
              <use href="./img/icons.svg#icon-oval"></use>
            </svg>
          </div>
          <p class="veg-menu-price">80 UAH / kg</p>
        </li>
      </ul>
    </div>
    <div class="veg-menu">
      <ul class="veg-menu-list">
        <li class="veg-menu-item">
          <h4 class="veg-menu-title">Carrot</h4>
          <p class="veg-menu-text">Plant</p>
          <div class="veg-menu-content">
            <img class="veg-menu-img" src="./img/vegetables/carrot.png" alt="Carrot-img" />
            <svg class="veg-menu-icon" width="195" height="38">
              <use href="./img/icons.svg#icon-oval"></use>
            </svg>
          </div>
          <p class="veg-menu-price">100 UAH / kg</p>
        </li>
      </ul>
    </div>
    <div class="veg-menu">
      <ul class="veg-menu-list">
        <li class="veg-menu-item">
          <h4 class="veg-menu-title">Carrot</h4>
          <p class="veg-menu-text">Plant</p>
          <div class="veg-menu-content">
            <img class="veg-menu-img" src="./img/vegetables/carrot.png" alt="Carrot-img" />
            <svg class="veg-menu-icon" width="195" height="38">
              <use href="./img/icons.svg#icon-oval"></use>
            </svg>
          </div>
          <p class="veg-menu-price">100 UAH / kg</p>
        </li>
      </ul>
    </div>
    <div class="veg-menu">
      <ul class="veg-menu-list">
        <li class="veg-menu-item">
          <h4 class="veg-menu-title">Carrot</h4>
          <p class="veg-menu-text">Plant</p>
          <div class="veg-menu-content">
            <img class="veg-menu-img" src="./img/vegetables/carrot.png" alt="Carrot-img" />
            <svg class="veg-menu-icon" width="195" height="38">
              <use href="./img/icons.svg#icon-oval"></use>
            </svg>
          </div>
          <p class="veg-menu-price">100 UAH / kg</p>
        </li>
      </ul>
    </div>
    <div class="veg-menu">
      <ul class="veg-menu-list">
        <li class="veg-menu-item">
          <h4 class="veg-menu-title">Carrot</h4>
          <p class="veg-menu-text">Plant</p>
          <div class="veg-menu-content">
            <img class="veg-menu-img" src="./img/vegetables/carrot.png" alt="Carrot-img" />
            <svg class="veg-menu-icon" width="195" height="38">
              <use href="./img/icons.svg#icon-oval"></use>
            </svg>
          </div>
          <p class="veg-menu-price">100 UAH / kg</p>
        </li>
      </ul>
    </div>
    <div class="veg-menu">
      <ul class="veg-menu-list">
        <li class="veg-menu-item">
          <h4 class="veg-menu-title">Carrot</h4>
          <p class="veg-menu-text">Plant</p>
          <div class="veg-menu-content">
            <img class="veg-menu-img" src="./img/vegetables/carrot.png" alt="Carrot-img" />
            <svg class="veg-menu-icon" width="195" height="38">
              <use href="./img/icons.svg#icon-oval"></use>
            </svg>
          </div>
          <p class="veg-menu-price">100 UAH / kg</p>
        </li>
      </ul>
    </div>
    <div class="veg-menu">
      <ul class="veg-menu-list">
        <li class="veg-menu-item">
          <h4 class="veg-menu-title">Carrot</h4>
          <p class="veg-menu-text">Plant</p>
          <div class="veg-menu-content">
            <img class="veg-menu-img" src="./img/vegetables/carrot.png" alt="Carrot-img" />
            <svg class="veg-menu-icon" width="195" height="38">
              <use href="./img/icons.svg#icon-oval"></use>
            </svg>
          </div>
          <p class="veg-menu-price">100 UAH / kg</p>
        </li>
      </ul>
    </div>
    <div class="veg-menu">
      <ul class="veg-menu-list">
        <li class="veg-menu-item">
          <h4 class="veg-menu-title">Carrot</h4>
          <p class="veg-menu-text">Plant</p>
          <div class="veg-menu-content">
            <img class="veg-menu-img" src="./img/vegetables/carrot.png" alt="Carrot-img" />
            <svg class="veg-menu-icon" width="195" height="38">
              <use href="./img/icons.svg#icon-oval"></use>
            </svg>
          </div>
          <p class="veg-menu-price">100 UAH / kg</p>
        </li>
      </ul>
    </div>
  </div>

</section>