<section class="vegetables" id="vegetables">
  <div class="veg-container container">
    <h3 class="veg-title">organic vegetables</h3>
    <p class="veg-text">
      Our organic vegetables are hand-picked from local farms and delivered straight to your doorstep, ensuring that you
      get
      the freshest and most nutritious produce possible.
    </p>
    <div class="veg-menu">
      <ul class="veg-menu-list">
        <li class="veg-menu-item">
          <h4 class="veg-menu-title">Carrot</h4>
          <p class="veg-menu-text">Plant</p>
          <picture class="veg-img">
            <source media="(max-width: 767px)"
              srcset="/img/vegetables/carrot-1.png 1x, /img/vegetables/carrot-2.png 2x" />
            <source media="(max-width: 1279px)"
              srcset="/img/vegetables/carrot-tab.png 1x, /img/vegetables/carrot-tab2.png 2x" />
            <source media="(min-width: 1280px)" srcset="
                    /img/vegetables/carrot-desk.png 1x,
                    /img/vegetables/carrot-desk2.png 2x
                  " />
            <img class="veg-img-cart" src="/img/vegetables/carrot-1.png" alt="carrot" />
          </picture>
          <p class="veg-menu-price">100 UAH / kg</p>
        </li>
        <li class="veg-menu-item">
          <h4 class="veg-menu-title">Brussel sprouts</h4>
          <p class="veg-menu-text">Plant</p>
          <picture class="veg-img">
            <source media="(max-width: 767px)"
              srcset="/img/vegetables/brussel-1.png 1x, /img/vegetables/brussel-2.png 2x" />
            <source media="(max-width: 1279px)"
              srcset="/img/vegetables/brussel-tab.png 1x, /img/vegetables/brussel-tab2.png 2x" />
            <source media="(min-width: 1280px)" srcset="
                            /img/vegetables/brussel-desk.png 1x,
                            /img/vegetables/brussel-desk2.png 2x
                          " />
            <img src="/img/vegetables/brussel-1.png" alt="brussel" />
          </picture>
          <p class="veg-menu-price">80 UAH / kg</p>
        </li>
        <li class="veg-menu-item">
          <h4 class="veg-menu-title">Tomato</h4>
          <p class="veg-menu-text">Plant</p>
          <picture class="veg-img">
            <source media="(max-width: 767px)"
              srcset="/img/vegetables/tomato-1.png 1x, /img/vegetables/tomato-2.png 2x" />
            <source media="(max-width: 1279px)"
              srcset="/img/vegetables/tomato-tab.png 1x, /img/vegetables/tomato-tab2.png 2x" />
            <source media="(min-width: 1280px)" srcset="
                            /img/vegetables/tomato-desk.png 1x,
                            /img/vegetables/tomato-desk2.png 2x
                          " />
            <img src="/img/vegetables/tomato-1.png" alt="tomato" />
          </picture>
          <p class="veg-menu-price">40 UAH / kg</p>
        </li>
        <li class="veg-menu-item">
          <h4 class="veg-menu-title">Eggplant</h4>
          <p class="veg-menu-text">Plant</p>
          <picture class="veg-img">
            <source media="(max-width: 767px)"
              srcset="/img/vegetables/eggplant-1.png 1x, /img/vegetables/eggplant-2.png 2x" />
            <source media="(max-width: 1279px)"
              srcset="/img/vegetables/eggplant-tab.png 1x, /img/vegetables/eggplant-tab2.png 2x" />
            <source media="(min-width: 1280px)" srcset="
                            /img/vegetables/eggplant-desk.png 1x,
                            /img/vegetables/eggplant-desk2.png 2x
                          " />
            <img src="/img/vegetables/eggplant-1.png" alt="eggplant" />
          </picture>
          <p class="veg-menu-price">60 UAH / kg</p>
        </li>
        <li class="veg-menu-item">
          <h4 class="veg-menu-title">Sweet potatoes</h4>
          <p class="veg-menu-text">Plant</p>
          <picture class="veg-img">
            <source media="(max-width: 767px)"
              srcset="/img/vegetables/potatoes-1.png 1x, /img/vegetables/potatoes-2.png 2x" />
            <source media="(max-width: 1279px)"
              srcset="/img/vegetables/potatoes-tab.png 1x, /img/vegetables/potatoes-tab2.png 2x" />
            <source media="(min-width: 1280px)" srcset="
                            /img/vegetables/potatoes-desk.png 1x,
                            /img/vegetables/potatoes-desk2.png 2x
                          " />
            <img src="/img/vegetables/potatoes-1.png" alt="potatoes" />
          </picture>
          <p class="veg-menu-price">80 UAH / kg</p>
        </li>
        <li class="veg-menu-item">
          <h4 class="veg-menu-title">Leek</h4>
          <p class="veg-menu-text">Plant</p>
          <picture class="veg-img">
            <source media="(max-width: 767px)" srcset="/img/vegetables/leek-1.png 1x, /img/vegetables/leek-2.png 2x" />
            <source media="(max-width: 1279px)"
              srcset="/img/vegetables/leek-tab.png 1x, /img/vegetables/leek-tab2.png 2x" />
            <source media="(min-width: 1280px)" srcset="
                            /img/vegetables/leek-desk.png 1x,
                            /img/vegetables/leek-desk2.png 2x
                          " />
            <img src="/img/vegetables/leek-1.png" alt="leek" />
          </picture>
          <p class="veg-menu-price">50 UAH / kg</p>
        </li>
        <li class="veg-menu-item">
          <h4 class="veg-menu-title">Mushrooms</h4>
          <p class="veg-menu-text">Plant</p>
          <picture class="veg-img">
            <source media="(max-width: 767px)"
              srcset="/img/vegetables/mushrooms-1.png 1x, /img/vegetables/mushrooms-2.png 2x" />
            <source media="(max-width: 1279px)"
              srcset="/img/vegetables/mushrooms-tab.png 1x, /img/vegetables/mushrooms-tab2.png 2x" />
            <source media="(min-width: 1280px)" srcset="
                                    /img/vegetables/mushrooms-desk.png 1x,
                                    /img/vegetables/mushrooms-desk2.png 2x
                                  " />
            <img src="/img/vegetables/mushrooms-1.png" alt="mushrooms" />
          </picture>
          <p class="veg-menu-price">40 UAH / kg</p>
        </li>
        <li class="veg-menu-item">
          <h4 class="veg-menu-title">Corn</h4>
          <p class="veg-menu-text">Plant</p>
          <picture class="veg-img">
            <source media="(max-width: 767px)" srcset="/img/vegetables/corn-1.png 1x, /img/vegetables/corn-2.png 2x" />
            <source media="(max-width: 1279px)"
              srcset="/img/vegetables/corn-tab.png 1x, /img/vegetables/corn-tab2.png 2x" />
            <source media="(min-width: 1280px)" srcset="
                                    /img/vegetables/corn-desk.png 1x,
                                    /img/vegetables/corn-desk2.png 2x
                                  " />
            <img src="/img/vegetables/corn-1.png" alt="corn" />
          </picture>
          <p class="veg-menu-price">60 UAH / kg</p>
        </li>
        <li class="veg-menu-item">
          <h4 class="veg-menu-title">Radish</h4>
          <p class="veg-menu-text">Plant</p>
          <picture class="veg-img">
            <source media="(max-width: 767px)"
              srcset="/img/vegetables/radish-desk.png 1x, /img/vegetables/radish-desk2.png 2x" />
            <source media="(max-width: 1279px)"
              srcset="/img/vegetables/radish-desk.png 1x, /img/vegetables/radish-desk2.png " />
            <source media="(min-width: 1280px)" srcset="
                                            /img/vegetables/radish-desk.png 1x,
                                            /img/vegetables/radish-desk2.png 2x
                                          " />
            <img src="/img/vegetables/radish-desk.png" alt="radish" />
          </picture>
          <p class="veg-menu-price">90 UAH / kg</p>
        </li>
      </ul>
    </div>
  </div>

</section>