<div data-aos="fade-up" data-aos-duration="2000">
  <section class="works2">
    <div class="container">
      <div class="works2-container">
        <div class="works2-text-container">
          <h2 class="works2-title">3 Easy Steps for Buying Fresh Vegetables</h2>
          <ol class="works2-list">
            <li class="works2-list-item">
              <span class="works2-list-number antr">1</span>
              <p class="works2-list-text">
                Just choose the vegetable you want to order by clicking on the
                checkboxes next to it.
              </p>
            </li>
            <li class="works2-list-item">
              <span class="works2-list-number">2</span>
              <p class="works2-list-text">
                Click on the basket and fill out the form.
              </p>
            </li>
            <li class="works2-list-item">
              <span class="works2-list-number">3</span>
              <p class="works2-list-text">
                Sit back and relax! Your fresh vegetables basket will be
                delivered.
              </p>
            </li>
          </ol>
        </div>

        <picture class="works2-img">
          <source
            media="(max-width: 767px)"
            srcset="/img/works2/works2.png 1x, /img/works2/works2-2x.png 2x"
          />
          <source
            media="(max-width: 1279px)"
            srcset="
              /img/works2/works2-tab.png    1x,
              /img/works2/works2-tab-2x.png 2x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/works2/works2-desk.png    1x,
              /img/works2/works2-desk-2x.png 2x
            "
          />
          <img
            src="/img/works2/works2.png"
            alt="girl"
            width="258"
            height="319"
          />
        </picture>
      </div>
    </div>
  </section>
</div>
