<section class="works1" id="works">
  <div class="container">
    <div class="works1-container">
      <h1 class="works1-title">
        To order your vegetable basket, simply follow these easy steps
      </h1>
      <picture class="works1-img">
        <source
          media="(max-width: 767px)"
          srcset="/img/works1/works1.png 1x, /img/works1/works1-2x.png 2x"
        />
        <source
          media="(max-width: 1279px)"
          srcset="
            /img/works1/works1-tab.png    1x,
            /img/works1/works1-tab-2x.png 2x
          "
        />
        <source
          media="(min-width: 1280px)"
          srcset="
            /img/works1/works1-desk.png    1x,
            /img/works1/works1-desk-2x.png 2x
          "
        />
        <img src="/img/works1/works1.png" alt="vegetables" />
      </picture>
      <ul class="works1-list">
        <li class="works1-list-item">
          <p class="works1-list-text">
            Our baskets are assembled with care and delivered straight to your
            doorstep, so you can enjoy the taste of fresh fruit without ever
            leaving your home.
          </p>
        </li>
        <li class="works1-list-item">
          <p class="works1-list-text">
            Whether you're looking for a healthy snack or a thoughtful gift, our
            fruit baskets are the perfect choice.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
