<div data-aos="fade-up" data-aos-duration="1000">
  <section class="works-first" id="works">
    <div class="container">
      <div class="works-first-container">
        <h2 class="works-first-title">
          To order your vegetable basket, simply follow these easy steps
        </h2>
        <picture class="works-first-img">
          <source
            media="(max-width: 767px)"
            srcset="
              /img/works-first/works-first.png    1x,
              /img/works-first/works-first-2x.png 2x
            "
          />
          <source
            media="(max-width: 1279px)"
            srcset="
              /img/works-first/works-first-tab.png    1x,
              /img/works-first/works-first-tab-2x.png 2x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/works-first/works-first-desk.png    1x,
              /img/works-first/works-first-desk-2x.png 2x
            "
          />
          <img
            src="/img/works-first/works-first.png"
            alt="vegetables"
            width="335"
            height="158"
          />
        </picture>
        <ul class="works-first-list">
          <li class="works-first-list-item">
            <p class="works-first-list-text">
              Our baskets are assembled with care and delivered straight to your
              doorstep, so you can enjoy the taste of fresh fruit without ever
              leaving your home.
            </p>
          </li>
          <li class="works-first-list-item">
            <p class="works-first-list-text">
              Whether you're looking for a healthy snack or a thoughtful gift,
              our fruit baskets are the perfect choice.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
