.call-container {
  min-width: 320px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.call-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.call-title {
  color: #141414;
  text-align: center;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  max-width: 322px;
  margin-bottom: 20px;
}
.call-text {
  color: #141414;
  text-align: center;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  max-width: 321px;
  margin-bottom: 40px;
}

.call-form {
  width: 100%;
}
.input-wrap {
  display: flex;
  position: relative;
}
.call-input {
  display: block;
  width: 100%;
  border-radius: 100px;
  border: 1px solid rgb(20, 20, 20, 0.3);
  height: 48px;
  background-color: transparent;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  padding: 15px 106px 15px 24px;
  outline: none;
}

.call-input::placeholder {
  color: #c1bdbd;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
}
.call-btn {
  color: #ffffff;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.04em;
  border-radius: 100px;
  background-color: var(--FC8A11);
  border: none;
  padding: 15px 35px;
  height: 48px;
  width: 105px;
  display: inline-block;
  position: absolute;
  z-index: 2;
  right: 0;
}

.call-img-div {
  margin-bottom: 80px;
  border-radius: 40px;
  background-color: var(--FAF3E7);
  background-image: radial-gradient(
    circle at 30px 20px,
    rgba(161, 196, 135, 0.3) 3px,
    transparent 0
  );
  background-size: 43px 43px;
  max-width: 335px;
}
.call-img {
  margin-top: 31px;
}

/* MEDIA */
@media screen and (min-width: 768px) {
  .call-container {
    min-width: 768px;
    padding: 0 32px;
    gap: 80px;
  }
  .call-title {
    font-size: 40px;
    line-height: 1.1;
    max-width: 524px;
  }
  .call-text {
    font-size: 18px;
    line-height: 1.33;
    max-width: 499px;
  }
  .call-form {
    width: 350px;
  }
  .call-img-div {
    margin-bottom: 173px;
    max-width: 704px;
  }
  .call-img {
    max-width: 629px;
    margin-top: 17px;
    margin-left: 37px;
    margin-right: 38px;
  }
}

@media screen and (min-width: 1280px) {
  .call-container {
    min-width: 1216px;
    flex-direction: row;
    gap: 77px;
    margin-bottom: 124px;
  }
  .call-div {
    width: 614px;
    align-items: baseline;
  }
  .call-title {
    font-size: 48px;
    line-height: 1.04;
    max-width: 615px;
    text-align: left;
    margin-bottom: 40px;
  }
  .call-text {
    text-align: left;
    max-width: 523px;
    margin-bottom: 80px;
  }
  .call-img-div {
    margin-bottom: 0;
    max-width: 525px;
  }

  .call-img {
    width: 100%;
    margin-top: 37px;
    margin-left: 0;
    margin-right: 0;
  }
}
