.header-container {
  display: flex;
  align-items: center;
}

.nav-site {
  padding-top: 13px;
  padding-bottom: 13px;
}

.nav-page {
  display: none;
}

.header-button {
  display: none;
}

.header-logo {
  display: inline-flex;
  width: 118px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.28;
  letter-spacing: -0.04em;
  word-wrap: break-word;
}

.logo-icon {
  margin-right: 8px;
  width: 16px;
  height: 16px;
  fill: #a1c487;
}

.header-btm-icon {
  stroke: #141414;
  fill: transparent;
}

.header-menu-open {
  display: flex;
  margin-left: auto;
  border: none;
  background-color: rgba(28, 28, 28, 0);
  padding: 0;
  fill: #a1c487;
  height: 24px;
}

.mob-menu {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 0 516px 0;
  background-color: #a1c487;
  transform: translateX(0);
  transition: var(--transition);
}

.mob-menu.is-hidden {
  transform: translateX(100%);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.mob-menu-logo {
  padding: 13px 20px 13px 20px;
  background-color: #fff;
}

.mob-menu-close {
  position: absolute;
  top: 13px;
  right: 20px;
  border: none;
  background-color: rgba(28, 28, 28, 0);
  padding: 0;
  fill: #a1c487;
  height: 24px;
}

.header-btm-close {
  stroke: #77AC63;
}

.mob-menu-nav {
  display: flex;
  justify-content: center;
  padding-top: 124px;
}

.mob-menu-list {
  width: 78px;
  height: 122px;
}

.mob-menu-list .mob-menu-item + .mob-menu-item {
  margin-top: 16px;
}

.mob-menu-item {
  color: #fff;
  text-align: center;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.56px;
}

.mob-menu-btm {
  padding: 0;
  width: 24px;
  height: 24px;
  top: 15px;
  right: 32px;
  border: none;
  background-color: transparent;
}

.menu-btm-icon {
  fill: transparent;
  stroke: #ffffff;
}

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 768px) {
  .header-nav {
    display: flex;
  }

  .nav-page {
    display: flex;
    padding-left: 0;
    margin: 0;
  }

  .nav-page-item {
    text-align: center;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.56px;
  }

  .nav-page .nav-page-item + .nav-page-item {
    margin-left: 14px;
  }

  .nav-page-link {
    font-size: 14px;
    line-height: 1.28;
    transition: var(--transition);
  }

  .nav-page-link:hover,
  .nav-page-link:focus {
    color: #a1c487;
  }

  .header-logo {
    justify-content: center;
    margin-left: 86px;
  }

  .header-button {
    display: flex;
    margin-left: auto;
    padding: 0;
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
  }

  .header-menu-open {
    display: none;
  }

  .nav-site {
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 1280px) {

  .header-nav {
    display: flex;
  }

  .nav-page {
    display: flex;
    padding-left: 0;
    margin: 0;
    width: 241px;
  }

  .nav-page .nav-page-item + .nav-page-item {
    margin-left: 20px;
  }

  .nav-page-link {
    font-size: 14px;
    line-height: 1.28;
  }

  .nav-page-link:hover,
  .nav-page-link:focus {
    color: #a1c487;
  }

  .header-logo {
    justify-content: center;
    margin-left: 308px;
  }
  .header-button {
    right: 100px;
  }
}
