/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./works1.css');
@import url('./works2.css');
@import url('./vegetables.css');
@import url('./call.css');
@import url('./footer.css');
@import url('./modal.css');

:root {
  --A1C487: #A1C487;
  --EAF7E5: #EAF7E5;
  --FC8A11: #FC8A11;
  --FAF3E7: #FAF3E7;
  --F3F3F3: #F3F3F3;

  --transition: 250ms cubic-bezier(0.215, 0.610, 0.355, 1);
}

body {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #141414;
  background-color: #FFFFFF;
}