.vegetables {
  background-color: #fff;
  padding-bottom: 80px;
}

.veg-title {
  min-width: 245px;
  text-align: center;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.96px;
  text-transform: uppercase;
  margin-bottom: 14px;
}
.veg-text {
  max-width: 335px;
  text-align: center;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.56px;
  margin-bottom: 40px;
}
.veg-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
  margin-bottom: 22px;
  /* padding: 36px 18px 22px 18px; */
}

.veg-img:hover,
.veg-img:focus {
  animation: pulsate-fwd 0.5s ease-in-out infinite both;
}

.veg-img-cart {
  max-width: 299px;
  max-height: 249px;
}
.veg-menu-item {
  /* background-color: #eaf7e5; */
  border-radius: 15px;
  margin-bottom: 20px;
  padding: 40px 20px 20px 20px;
  /* padding-bottom: 20px; */
  background-size: 300%;
  background-image: linear-gradient(
    to bottom left,
    #faf3e7 0%,
    #eaf7e5 50%,
    #a1c487 100%
  );
  transition: 600ms ease;
}
.veg-menu-item:hover,
.veg-menu-item:focus {
  background-position: 100% 0;
}
.veg-menu-item.span {
  display: none;
}
.veg-menu-title {
  /* padding-left: 20px; */
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.96px;
  margin-bottom: 8px;
}
.veg-menu-text {
  /* padding-left: 20px; */
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.28px;
}
.veg-menu-price {
  /* padding-left: 20px; */
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.56px;
  /* margin-right: 10px; */
}
.number {
  border-color: #a1c487;
  border-radius: 30px;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.2px;
  margin-left: 10px;
  padding-left: 9px;
  width: 70px;
  height: 30px;
  position: relative;
}
/* .btn-add {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.2px;
  width: 130px;
  height: 40px;
  border-radius: 20%;
  background: transparent; 
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  border-color: #a1c487;
} */

.btn-pos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.veg-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  background-color: #fc8a11;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.56px;
  text-transform: uppercase;
  transform: rotate(-14deg);
  transition: background-color var(--transition);
  gap: 4px;
}
.veg-btn-icon {
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  fill: #fff;
  transform: rotate(14deg);
}

.veg-btn:hover,
.veg-btn:focus,
.veg-btn:active {
  background-color: #a1c487;
  animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@media screen and (min-width: 768px) {
  .vegetables {
    padding-bottom: 100px;
  }
  .veg-container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .veg-title {
    max-width: 624px;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -1.12px;
  }
  .veg-text {
    max-width: 562px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.72px;
  }
  .veg-menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 20px;
  }
  .veg-menu-item {
    width: calc((100% - 20px) / 2);
    margin-bottom: 0;
    padding: 64px 9px 24px 11px;
    /* padding-bottom: 24px; */
  }
  .veg-img {
    margin-top: 6px;
    margin-bottom: 24px;
    /* padding: 10px 20px 24px 11px; */
  }
  .veg-img-cart {
    max-width: 321px;
    height: 261px;
  }
  .veg-menu-title {
    margin-left: 13px;
    /* padding-left: 24px; */
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -1.12px;
  }
  .veg-menu-text {
    margin-left: 13px;
    /* padding-left: 24px; */
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.36px;
  }

  .veg-menu-price {
    margin-left: 13px;
    /* padding-left: 24px; */
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.72px;
  }
  .veg-btn {
    margin-top: 40px;
    width: 114px;
    height: 114px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.72px;
  }
}
@media screen and (min-width: 1280px) {
  .vegetables {
    padding-bottom: 124px;
  }
  .veg-menu-item.span {
    display: block;
  }
  .veg-menu-list {
    gap: 24px;
  }
  .veg-menu-item {
    width: calc((100% - 48px) / 3);
    padding: 64px 34px 24px 24px;
  }
  .veg-title {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -1.6px;
  }
  .veg-menu-title {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -1.28px;
  }
  .veg-img {
    /* padding: 1px 34px 24px 34px; */
  }
}
